.navigation
  .container.fixed-width
    nav.nav-menu
      .scrollactive-nav
        a.logo.anchor-link(href='#banner')
          img(src=assets+brand.unisex.img alt='logo')/
      .menu
        ul.collection.scrollactive-nav.scrollnav
          each item in menu.unisex
            li.collection-item.link.anchor-link
              a.text.waves-effect(href='#'+item.name) #{$t.unisex_landing['header_'+item.name]}
