#timeline.root
  .container.fixed-width-md-up
    .row
      .col-lg-2.pa-0
        .hidden-md-down
          h2.name-deco #{brand.unisex.name}
      .col-lg-10.pa-0
        .row.spacing3
          .col-md-5.col-sm-6.pe-sm-3.ps-sm-0.pe-6.py-0
            .history
              h5.title-timeline.use-text-subtitle
                | #{$t.unisex_landing.timeline_experience}
              ul
                li
                  .wow.fadeInLeftShort(data-wow-offset="100" data-wow-duration="0.3s")
                    div
                      h3.use-text-subtitle2.pb-2 Nice Actimize
                      p.mb-2 As Software Engineer
                      p.time 2021 - Present
                li
                  .wow.fadeInLeftShort(data-wow-offset="100" data-wow-duration="0.3s")
                    div
                      h3.use-text-subtitle2.pb-2 PetSmart
                      p.mb-2 As Software Engineer
                      p.time 2020 - 2021
                li
                  .wow.fadeInLeftShort(data-wow-offset="100" data-wow-duration="0.3s")
                    div
                      h3.use-text-subtitle2.pb-2 Asperii
                      p.mb-2 As Software Engineer
                      p.time 2019 - 2020
                li
                  .wow.fadeInLeftShort(data-wow-offset="100" data-wow-duration="0.3s")
                    div
                      h3.use-text-subtitle2.pb-2 Computer Science student
                      p.mb-2 At The Academic College of Tel Aviv–Yaffo
                      p.time 2017 - 2020
          .col-sm-6.px-sm-3.px-6.py-0
            .progress-wrap
              h5.title-timeline.use-text-subtitle
                | #{$t.unisex_landing.timeline_skill}
              ul#progress.zero
                li
                  .text-icon
                    i.ion-ios-color-wand
                    h5.use-text-subtitle2 Java & Spring Boot
                  .progress
                    .determinate.progress-linear(style='width: 80%')
                li
                  .text-icon
                    i.ion-logo-dribbble
                    h5.use-text-subtitle2 Cloud development
                  .progress
                    .determinate.progress-linear(style='width: 70%')
                li
                  .text-icon
                    i.ion-ios-globe
                    h5.use-text-subtitle2 Backend Engineer
                  .progress
                    .determinate.progress-linear(style='width: 60%')
                li
                  .text-icon
                    i.ion-ios-camera
                    h5.use-text-subtitle2 AWS
                  .progress
                    .determinate.progress-linear(style='width: 90%')
                li
                  .text-icon
                    i.ion-ios-snow
                    h5.use-text-subtitle2 K8s
                  .progress
                    .determinate.progress-linear(style='width: 80%')