$imgAPI-unisex0: 'https://via.placeholder.com/1080x497/ffb2ad/757575';
$imgAPI-unisex1: 'https://via.placeholder.com/270x345/dedede/757575';
$imgAPI-unisex2: 'https://i.ibb.co/Nxk5246/bg-Desk-akf1es.jpg';
$imgAPI-unisex3: 'https://via.placeholder.com/400x400/4e5467/FFFFFF';
$imgAPI-unisex4: 'https://via.placeholder.com/400x266/2f5ef3/FFFFFF';
$imgAPI-unisex5: 'https://via.placeholder.com/400x266/dedafd/757575';
$imgAPI-unisex6: 'https://via.placeholder.com/400x400/ea6f23/FFFFFF';
$imgAPI-unisex7: 'https://via.placeholder.com/400x400/b79136/FFFFFF';
$imgAPI-unisex8: 'https://via.placeholder.com/400x266/94fbf7/757575';
$imgAPI-unisex9: 'https://i.ibb.co/98hxrqw/desk-Dark-pof62n.jpg';
